<!DOCTYPE html>
<html lang="en">
<head>
  <title>LoginForm</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
	<h2>Login Here</h2>
  <font color="green"><h3 th:text="${smsg}"></h3></font>
    <font color="red"><h3 th:text="${emsg}"></h3></font>
<form th:object="${loginDto}" th:action="@{/login}" method="post">
	<table>
		<tr>
			<td>Enter Username</td>
		<td><input type="text" th:field="*{email}" required/></td>
		</tr>
		<tr><td>Enter Password</td>
		<td><input type="password" th:field="*{password}" required/></td>
		</tr>
		<tr><td>
		</td>
		<td><input type="submit" value="Login" class="btn btn-primary"/></td></tr>
	</table>
</form>
Don't' have an account ? <a href="/register">Register </a>
</div>

</body>
</html>